{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h1>Message</h>
    <blockquote class="blockquote">
        <p class="mb-0">{{query}}</p>
        <footer class="blockquote-footer">Social media message classified for disaster response.</footer>
    </blockquote>
{% endblock %}

{% block content %}
    <hr />
    <h1>Result</h1>
        <ul class="list-group">
            {% for category, classification in classification_result.items() %}
                {% if classification == 1 %}
                    <li class="list-group-item list-group-item-info d-flex">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item disabled d-flex">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}
        </ul>

        </div>
    </div>

{% endblock %}

